.navbar{
    background-color: greenyellow;
    margin-left: 10px;
}
.navbar:hover{
    background-color: rosybrown;
    transition: 2s;
    box-shadow: 10px,10px,10px blue;
    border: 10px dashed;
}
.kotak{
    background: red;
    height: 100px;
    width: 150px;
    transition: width 2s, height 4s;
    border-radius: 25px;
    box-shadow: 10px,10px,10px blue;
}

.kotak:hover{
    height: 300px;
    width: 500px;
    animation-play-state: running;
}
@keyframes warna {
    0% {background-color:red;}
    25% {background-color: purple;}
    50% {background-color: yellow;}
    75% {background-color: blue;}
    100% {background-color: greenyellow;}
}
.kotak {
    animation-name: warna;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-duration: normal;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}
img:hover {
    transform: scale(2)
    rotate(10deg)
    translate(10px,10px)
}
.rounded {
    border: 1px red;
    text-align: center;
    animation-name: berubah;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-iteration-count: infinite;
    border-radius: 25px;
    /* text-shadow; 4px, 3px, 2px,black; */
    box-shadow: 2px, 3px, 2px black;
    height: max-content;
    font-size: 40px;
}
.rounded:hover{
    transform: scale(2);
}
@keyframes berubah {
    0% {background-color: green;}
    50% {background-color: yellow;}
    100% {background-color: red;}
}
