$warnaPrimer: #1A237E;  
$warnaSekunder: #acd8db; 
$warnaTeks: #212121;  
$warnaLatar: #FAFAFA;  
$border: 2px solid #BBDEFB; 
$warnaTombol: #388E3C;  
$hoverEffect: 0.3s;  
$warnaInverse: rgb(203, 209, 230);

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: $warnaLatar;
    color: $warnaTeks;
}

h1, h2, h3 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    margin: 0;
    text-align: center;
}

.subtitle {
    text-align: center;
    font-size: 1.2em;
    color: $warnaPrimer;
}

header {
    background-color: $warnaPrimer;
    color: $warnaInverse;
    padding: 2em 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

hr {
    width: 80%;
    margin: 0.5em auto;
    border: 1px solid $warnaSekunder;
}

nav {
    text-align: center;
    background-color: $warnaSekunder;
    padding: 1em 0;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline-block;

        li {
            display: inline;
            margin-right: 20px;

            a {
                padding: 8px 16px;
                text-decoration: none;
                color: $warnaPrimer;
                font-size: 1.1em;
                font-weight: bold;
                border-radius: 4px;
                transition: background-color $hoverEffect, color $hoverEffect;
            }

            a:hover {
                background-color: $warnaPrimer;
                color: $warnaSekunder;
            }
        }
    }
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3em 2em;
}

.primer, .inverse-primer {
    background-color: $warnaInverse;
    color: $warnaPrimer;
    border: $border;
    padding: 2em;
    width: 45%;
    margin-bottom: 2em;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    h2 {
        margin-top: 0;
    }
}

.inverse-primer {
    background-color: $warnaPrimer;
    color: $warnaInverse;
}

aside {
    background-color: $warnaSekunder;
    color: $warnaPrimer;
    padding: 2em;
    width: 30%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    h3 {
        margin-top: 0;
    }

    .cta-btn {
        background-color: $warnaTombol;
        color: $warnaInverse;
        padding: 10px 20px;
        font-size: 1.2em;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color $hoverEffect;
        margin-top: 20px;
        width: 100%;
    }

    .cta-btn:hover {
        background-color: $warnaSekunder;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        align-items: center;
    }

    .primer, .inverse-primer {
        width: 80%;
    }

    aside {
        width: 80%;
        margin-top: 2em;
    }
}
